[submodule "progressbar"]
	path = progressbar
	url = https://github.com/doches/progressbar.git
[submodule "cpp-lru-cache4file"]
	path = cpp-lru-cache4file
	url = https://github.com/toosyou/cpp-lru-cache4file.git
